body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #5500FF;
    font-family: roboto;
    font-size: 40px;
    /* border: 4px solid #5500FF; */
    border-radius: 1px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 40px;
    position: relative;
    /* overflow: hidden; */
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #111;
}

a::before,
a::after{
    content: '';
    position: absolute;
    left: -4px;
    top: -4px;
    /* width: 110%;
    height: 110%; */
    width: calc(100% + 8px);
    height: calc(100% + 8px);
    transition: all 0.3s;
    z-index: -2;
    background: #5500FF;
}

a::after{
    background: #F00;
    /* transform: translateY(100%); */
    z-index: -1;
    width:0;
}

a:hover::after{
    /* transform: translateY(0); */
    width: calc(100% + 8px);
}

a:hover{
    color: #F00;
}