body {
    height: 100vh;
    background: #111;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-position: center center;
    background-size: cover;

    overflow: hidden;
    transition: 0.4s;
}

.container {
    width: 80vw;
    height: 80vh;

    box-shadow: 0 0 15px rgba(0, 0, 0, .5);
    border-radius: 10px;

    overflow: hidden;
}

.container .slide {
    opacity: 0;
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    transition: 0.5s;
}

.slide.active{
    opacity: 1;
}