body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFF;
    background: #5500FF;
    font-family: roboto;
    font-size: 40px;
    /* border: 4px solid #5500FF; */
    border-radius: 5px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 40px;
    position: relative;
    /* overflow: hidden; */
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a:before,
a:after{
    content: 'Button';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: rotateX(90deg);
    transform-origin: top;
}

a:after{
    background: yellow;
    transform-origin: bottom;
    transition-delay: 0.15s;
}

a:hover:before,
a:hover:after{
    transform:rotateX(0deg)
}