body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFF;
    font-family: roboto;
    font-size: 40px;
    /* border: 4px solid #5500FF; */
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 40px 10px 80px;
    position: relative;
    /* overflow: hidden; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    transition: all 0.4s 0.4s;
}

a::before,
a::after
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 70px;
    height: 100%;
    border-radius: 50px;
    background: #5500FF;
    z-index: -2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

a::after{
    content: '‣';
    z-index: -1;
}


a:hover::before{
    width: 100%;
}