body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #FFF;
    background: transparent;
    font-family: roboto;
    font-size: 40px;
    border: 1px solid #5500FF;
    border-radius: 1px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 10px 40px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

a::before,
a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5500FF;
    z-index: -1;
    transition: all 0.3s;
}

a::before {
    transform: translateX(-95%);
}

a::after {
    transform: translateX(95%);
}

a:hover:before {
    transform: translate(-49%);
}

a:hover:after {
    transform: translate(50%);
}