body {
    height: 100vh;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #262626;
    font-family: roboto;
    font-size: 40px;
    /* border: 5px solid #5500FF; */
    font-weight: 300;
    letter-spacing: 0;
    padding: 40px 80px;
    position: relative;
    overflow: hidden;
    transition: background 0.8s;
}

a::before {
    content: '';
    background: #FFF;
    top: 0;
    left: 0;
    width: 130%;
    height: 30px;
    position: absolute;
    transform: translate(-100%) rotate(45deg);
    transition: transform 0.5s;
}

a:hover::before {
    transform: translateX(100%) rotate(45deg);
}

a:hover{
    background: #5500FF;
}